[submodule "node_modules/.cache/gh-pages/https!github.com!APJ1994!E-commerce-React-Admin.git"]
	path = node_modules/.cache/gh-pages/https!github.com!APJ1994!E-commerce-React-Admin.git
	url = https://github.com/APJ1994/my-admin.git
